<main class="conteudo">

  <section class="landing-page-dobra">
    <div class="primeira-dobra-foto"></div>
    <div class="primeira-dobra-quadro">
      <div class="introducao">
        <h3>
          As inscrições estão abertas para o <font color="#fdb55c" weight=800>
          treinamento de fundos imobiliários mais completo do Brasil.</font>
        </h3>
        <p>
          Está na hora de investir com EXPERTISE no mercado mais promissor
          do Brasil, os Fundos imobiliários.
        </p>
        <button class="btn" type="submit">QUERO SER MILIONÁRIO</button>
        <div class="logomarcas"><img></div>
      </div>
      <div id="countdown"></div>
    </div>
  </section>

  <section class="landing-page-dobra">
    <div class="segunda-dobra-foto"></div>
    <div class="segunda-dobra-quadro">
      <div class="introducao">
        <h1>EU SOU EXPERT, E VOCÊ?</h1>
        <p>
          Ser milionário deve ser o sonho de criança de muitos adultos por aí,
          mas a verdade é que tirar esse sonho do campo das idéias e colocá-lo
          na realidade, nunca esteve tão perto de acontecer.
        </p>
        <p>
          Eu me chamo Stella Mourão, sou investidora expert em Fundos imobiliários
          e já formei dezenas de alunos em mentoria, alunos esses que hoje também
          são experts e completamente independentes em seus investimentos, não
          precisando de dicas de ninguém para investir. Sentem-se seguros e tem
          uma estratégia bem calculada.
        </p>
        <p>
          E você? Como você investe hoje? Aproveitando as oportunidades? Tem uma
          estratégia calculada? Não?
        </p>
      </div>
    </div>
  </section>

  <section class="landing-page-dobra">
    <div class="terceira-dobra-foto"></div>
    <div class="terceira-dobra-quadro">
      <h1 class="oportunidades">
        AS OPORTUNIDADES ESTÃO EM TODOS OS LUGARES!
      </h1>
      <div class="rentabilidade">
        Todos sabemos que rentabilidade passada não é garantia nenhuma de
        rentabilidade futura, mas historicamente a bolsa de valores é a melhor
        opção para pessoas comuns criarem patrimônios milionários! No período
        de 10 anos, estes fundos valorizaram, cada um:
       </div>
      <div class="flex-container-3">
        <div class="flex-container-3-row">
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
        </div>
        <div class="flex-container-3-row">
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
          <div class="flex-container-3-item">
            <%= image_tag 'box-picture' %>
          </div>
        </div>
      </div>
      <div class="action_btn">
        <button class="btn2" type="submit">Quero fazer minha inscrição</button>
      </div>
  </div>
  </section>

  <section class="landing-page-dobra">
    <div class="quarta-dobra-foto"></div>
    <div class="quarta-dobra-quadro">
      <div class="linha-horizontal"></div>
      <div class="cotation">
        <h1>O QUE OS ALUNOS DO TREINAMENTO TEM A DIZER?</h1>
      </div>
      <div class="linha-horizontal"></div>
      <div class="flex-container-3">
        <div class="flex-container-3-row">
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="flex-container-3-row">
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
          <div class="flex-container-3-item">
            <iframe width="100%" height="100%"
            src="https://www.youtube.com/embed/Pqr5niXYxgQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </section>

  <section class="landing-page-dobra">
    <div class="quinta-dobra-foto"></div>
    <div class="quinta-dobra-quadro">
      <div class="cotation">
        <h1>COMO SERÁ O TREINAMENTO MILIONÁRIO?</h1>
      </div>
      <div class="row-nx1">
        <div class="row-nx1-frame">
            <div class="modulo">
                <div class="numero">01</div>
                <div class="passo">
                  <div class="title">PASSO 01: O COMEÇO DA BOLSA
                  </div>
                  <span class="explicacao">
  Lorem ipsum primis tellus duis nec lacus turpis, lorem fames platea varius adipiscing id, class varius consequat lorem urna semper. auctor congue dolor sociosqu netus malesuada ante magna sociosqu consectetur metus, nunc etiam ultricies viverra aliquet nunc auctor aenean semper dui, nec tincidunt morbi vivamus imperdiet aliquet vehicula vitae justo. adipiscing lacus enim justo mattis lacinia, nostra amet suspendisse lobortis cras felis, aliquam varius donec iaculis. dapibus inceptos ullamcorper dolor donec pellentesque pulvinar imperdiet rhoncus vestibulum dolor netus, inceptos euismod commodo sagittis viverra rutrum cras dui pharetra id, neque quisque habitant molestie amet turpis consequat inceptos nec ante.
                  </span>
                </div>
            </div>
         </div>
         <div class="row-nx1-frame">
             <div class="modulo">
                 <div class="numero">02</div>
                 <div class="passo">
                   <div class="title">PASSO 02: O SEU PRIMEIRO FUNDO
                   </div>
                   <span class="explicacao">
    Lorem ipsum primis tellus duis nec lacus turpis, lorem fames platea varius adipiscing id, class varius consequat lorem urna semper. auctor congue dolor sociosqu netus malesuada ante magna sociosqu consectetur metus, nunc etiam ultricies viverra aliquet nunc auctor aenean semper dui, nec tincidunt morbi vivamus imperdiet aliquet vehicula vitae justo. adipiscing lacus enim justo mattis lacinia, nostra amet suspendisse lobortis cras felis, aliquam varius donec iaculis. dapibus inceptos ullamcorper dolor donec pellentesque pulvinar imperdiet rhoncus vestibulum dolor netus, inceptos euismod commodo sagittis viverra rutrum cras dui pharetra id, neque quisque habitant molestie amet turpis consequat inceptos nec ante.
                   </span>
                 </div>
             </div>
          </div>
          <div class="row-nx1-frame">
              <div class="modulo2">
                  <div class="bonus">BÔNUS 01</div>
                  <div class="identacao">
                    <span class="explicacao">
      Lorem ipsum primis tellus duis nec lacus turpis, lorem fames platea varius adipiscing id, class varius consequat lorem urna semper. auctor congue dolor sociosqu netus malesuada ante magna sociosqu consectetur metus, nunc etiam ultricies viverra aliquet nunc auctor aenean semper dui, nec tincidunt morbi vivamus imperdiet aliquet vehicula vitae justo. adipiscing lacus enim justo mattis lacinia, nostra amet suspendisse lobortis cras felis, aliquam varius donec iaculis. dapibus inceptos ullamcorper dolor donec pellentesque pulvinar imperdiet rhoncus vestibulum dolor netus, inceptos euismod commodo sagittis viverra rutrum cras dui pharetra id, neque quisque habitant molestie amet turpis consequat inceptos nec ante.
                    </span>
                  </div>
              </div>
           </div>
           <div class="row-nx1-frame">
               <div class="modulo2">
                   <div class="bonus">BÔNUS 01</div>
                   <div class="identacao">
                     <span class="explicacao">
       Lorem ipsum primis tellus duis nec lacus turpis, lorem fames platea varius adipiscing id, class varius consequat lorem urna semper. auctor congue dolor sociosqu netus malesuada ante magna sociosqu consectetur metus, nunc etiam ultricies viverra aliquet nunc auctor aenean semper dui, nec tincidunt morbi vivamus imperdiet aliquet vehicula vitae justo. adipiscing lacus enim justo mattis lacinia, nostra amet suspendisse lobortis cras felis, aliquam varius donec iaculis. dapibus inceptos ullamcorper dolor donec pellentesque pulvinar imperdiet rhoncus vestibulum dolor netus, inceptos euismod commodo sagittis viverra rutrum cras dui pharetra id, neque quisque habitant molestie amet turpis consequat inceptos nec ante.
                     </span>
                   </div>
               </div>
            </div>
      </div>
    </div>
  </section>

  <section class="landing-page-dobra">
    <div class="sexta-dobra-foto"></div>
    <div class="sexta-dobra-quadro">
      <div class="seguro">
        <span class="prazo">
          7 DIAS DE GARANTIA
        </span>
        <span class="garantia">
          Você terá 7 dias de garantia incondicional, para que caso não fique
          satisfeito com o treinamento receba 100% de seu dinheiro investido.
          Sem burocracia, rápido e fácil!
        </span>
      </div>
    </div>
  </section>

  <section class="landing-page-dobra">
    <div class="setima-dobra-foto"></div>
    <div class="setima-dobra-quadro">
      <div class="introducao">
          <h2>FAÇA A SUA INSCRIÇÃO</h2>
          <h4>As <font color="#fdb55c" >inscrições</font> para o treinamento Milionário com Fundos imobiliários
          estão <font color="#fdb55c">abertas por tempo limitado!</font></h4>
          <div class="preco">
            <h2>DE: <font size="4em">R$</font> <font class="risco">997</font> POR: <font size="4em">R$</font> 597</h2>
          </div>
          <button class="btn" type="submit">QUERO SER MILIONÁRIO</button>
          <div class="contador">
            <div id="countdown-2"></div>
          </div>
          <div class="aviso">
            As vagas são limitadas a 50 alunos. Portanto, assim que as vagas
            forem totalmente preenchidas, as inscrições serão fechadas por
            tempo indeterminado.
          </div>
      </div>
    </div>
  </section>

</main>

<footer>
  <p style="text-align: center;">Copyright © 2022 | Stella Mourão</p>
</footer>

<script>
  // set the date we're counting down to
  var target_date = new Date('May, 14, 2022').getTime();

  // variables for time units
  var days, hours, minutes, seconds;

  // get tag element
  var countdown = document.getElementById('countdown');
  var countdown2 = document.getElementById('countdown-2');

  // update the tag with id "countdown" every 1 second
  setInterval(function () {

      // find the amount of "seconds" between now and target
      var current_date = new Date().getTime();
      var seconds_left = (target_date - current_date) / 1000;

      // do some time calculations
      days = parseInt(seconds_left / 86400);
      seconds_left = seconds_left % 86400;

      hours = parseInt(seconds_left / 3600);
      seconds_left = seconds_left % 3600;

      minutes = parseInt(seconds_left / 60);
      seconds = parseInt(seconds_left % 60);

      // format countdown string + set tag value
      countdown.innerHTML = '<span class="days">' + days +  ' <label>Dias</label></span> <span class="hours">' + hours + ' <label>Horas</label></span> <span class="minutes">'
      + minutes + ' <label>Minutos</label></span> <span class="seconds">' + seconds + ' <label>Segundos</label></span>';

      countdown2.innerHTML = '<span class="days">' + days +  ' <label>Dias</label></span> <span class="hours">' + hours + ' <label>Horas</label></span> <span class="minutes">'
      + minutes + ' <label>Minutos</label></span> <span class="seconds">' + seconds + ' <label>Segundos</label></span>';


  }, 1000);
</script>
